:root {
    --primary: #a991f7;
    --secondary: #f6d860;
    --accent: #37cdbe;
    --neutral: #3d4451;
    --base-100: #ffffff;
    background-color: #a991f7;


}

body {
    margin: 0;
    padding: 0;
}

.icon {
    height: 50px;
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--primary);
}

.header {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: var(--secondary);
    color: #ffffff;
    border-radius: 30px 0;
    margin: 10px;

}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #37cdbe;
    margin: 4em;
    padding: 2em;
    border-radius: 30px 0;
    gap: 1em;
}

.bookDisplay {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(autofit, minmax(150px, 1fr));
    gap: 1em;
    grid-auto-flow: column;

}

.book {
    background-color: #3d4451;
    border-radius: 30px 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    grid-template-areas: 1fr 1fr 1fr 1fr;
    justify-content: center;


}

.toolbar {
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 2em;
    border-radius: 30px 0;
    background-color: #f6d860;
    display: grid;

}

button {
    align-self: flex-start;
    justify-self: center;
    padding: 1em 4em;
    border-radius: 20px 0;
    background-color: #a991f7;

}
.cardBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
.removeBtn,.toggleRead{
    border-radius: 20px
}

.form-container {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    background-color: var(--primary);
    text-align: center;
    border-radius: 30px;
  
}

#new-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    
}